@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray-100: oklch(96.7% .003 264.542);
  --color-gray-200: oklch(92.8% .006 264.531);
  --color-gray-300: oklch(87.2% .01 258.338);
  --color-gray-400: oklch(70.7% .022 261.325);
}

body {
    background-color: #000;
    color: #fff;
}